<style>
  a {color:rgb(255, 51, 0);}
  button {color:black;}
  
</style>

<header>
  <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">
    <a class="navbar-brand" href=""></a>
      <img id="logo" src="assets/Blackout.png" alt="Blackout">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" style="font-weight:bold" style="font-size:25px" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-weight:bold;" style="font-size:25px" routerLink="/pop">Mais Assistidos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="font-weight:bold;" aria-haspopup="true" aria-expanded="false" style="font-size:25px">
            Filmes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="font-weight:bold;" style="font-size:25px" routerLink="/categories">Generos</a>
            <a class="dropdown-item" style="font-weight:bold;" style="font-size:25px" routerLink="/Filmes">Lista</a>
          </div>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
       <div class="input-group">
        <input  #pes name="query" value="" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button [routerLink]="['/search/' + pes.value]" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>

      </form>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

